In [73]:
import requests as rqs
import bs4 
import pandas as pd 
import json 
from imp import reload
import logging
reload(logging)
logging.basicConfig(filename='scrape_ow.log', level=logging.INFO, format='%(asctime)s %(message)s')

KAPI= "f092715753d229bc10273e794ecdfbad"
useOneCall=False

#values_url = "https://api.openweathermap.org/data/2.5/weather?q=Macau&appid="+KAPI
if useOneCall:
    ##request through onecall 
    urlbase = ["https://api.openweathermap.org/data/2.5/onecall?lat=","","&lon=","","&exclude=minutely,hourly,daily&appid=" + KAPI]
else:
    ## request through weather (less limitations)
    urlbase = ["http://api.openweathermap.org/data/2.5/weather?lat=","","&lon=","","&appid="+KAPI]

df=pd.DataFrame(columns=['station_uid','lon','lat','dt', 'sunrise','sunset','temp', 'feels_like','pressure','humidity',
                        'dew_point', 'uvi', 'clouds', 'visibility', 'wind_speed', 'wind_deg'])

In [74]:
def dico_from_onecall( ds):
    dico = {'lon':ds['coord']['lon'],'lat':ds['coord']['lat'], 'weather':ds['current']['weather'][0]['main']}
    ds['current'].pop('weather')
    for k in ds['current'].keys():
        dico[k] = ds['current'][k]
        #print(dico)    
    return dico

def dico_from_weather(ds):
        """   example of ds:
        {"coord":{"lon":139,"lat":35},
         "weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"base":"stations",
         "main":{"temp":288.71,"feels_like":287.73,"temp_min":288.71,"temp_max":288.71,"pressure":1001,"humidity":92},
         "visibility":3965,"wind":{"speed":3.34,"deg":222},"rain":{"1h":0.18},"clouds":{"all":94},"dt":1614662949,
         "sys":{"type":3,"id":2019346,"country":"JP","sunrise":1614633167,"sunset":1614674398},"timezone":32400,"id":1851632,"name":"Shuzenji","cod":200}
        """
       
        dico = {'lon':ds['coord']['lon'],'lat':ds['coord']['lat'], 
                'weather':ds['weather'][0]['main'], 'weather_desc':ds['weather'][0]['description']}
        for k in ds['main'].keys():
            dico[k] = ds['main'][k]
        dico['visibility']= ds['visibility']
        dico['wind_speed']= ds['wind']['speed']
        dico['wind_deg']= ds['wind']['deg']
        dico['rain']= ds['rain'] if 'rain' in list(ds.keys()) else ''
        dico['clouds']= ds['clouds']
        dico['dt']= ds['dt']
        dico['country']= ds['sys']['country'] if 'country' in list(ds['sys'].keys()) else ''
        dico['sunrise']= ds['sys']['sunrise']
        dico['sunset']= ds['sys']['sunset']
        
        return dico

# Read stations measures

In [75]:
dfstations=pd.read_csv("station_list.csv",header=0)

for i,s in dfstations.iterrows():
    #print(s)
    urlbase[1],urlbase[3]=str(s.lat),str(s.lon)
    url= ''.join(urlbase)
    rs = rqs.get(url)
    ds = json.loads(rs.text)
    if useOneCall:
        dico = dico_from_onecall(ds)
    else:
        dico = dico_from_weather(ds)
    dico['station_uid']=s.uid
    df=df.append(dico, ignore_index=True) 


df

,station_uid,lon,lat,dt,sunrise,sunset,temp,feels_like,pressure,humidity,...,clouds,visibility,wind_speed,wind_deg,country,rain,temp_max,temp_min,weather,weather_desc
0,9888,113.5817,22.1321,1614666409,1614638776,1614680988,294.52,289.78,1018,60,...,{'all': 0},10000,8.23,360,MO,,295.15,294.15,Clear,clear sky
1,785,113.5740,22.2611,1614666410,1614638783,1614680985,295.01,290.43,1018,60,...,{'all': 0},10000,8.23,360,CN,,295.93,294.15,Clear,clear sky
2,9052,113.5544,22.1253,1614666410,1614638783,1614680994,294.15,289.30,1018,60,...,{'all': 0},10000,8.23,360,MO,,294.15,294.15,Clear,clear sky
3,1540,113.5767,22.2707,1614666410,1614638782,1614680984,295.01,290.43,1018,60,...,{'all': 0},10000,8.23,360,CN,,295.93,294.15,Clear,clear sky
4,5373,113.5650,22.1600,1614666410,1614638781,1614680991,294.53,289.80,1018,60,...,{'all': 0},10000,8.23,360,MO,,295.15,294.15,Clear,clear sky
5,786,113.4950,22.2294,1614666410,1614638801,1614681005,294.95,290.35,1018,60,...,{'all': 0},10000,8.23,360,MO,,295.93,294.15,Clear,clear sky
6,5372,113.5447,22.1958,1614666410,1614638787,1614680994,294.15,289.30,1018,60,...,{'all': 0},10000,8.23,360,MO,,294.15,294.15,Clear,clear sky
7,5374,113.5428,22.2139,1614666410,1614638789,1614680994,294.57,289.85,1018,60,...,{'all': 0},10000,8.23,360,MO,,295.15,294.15,Clear,clear sky
8,5375,113.5546,22.1581,1614666410,1614638784,1614680993,294.15,289.30,1018,60,...,{'all': 0},10000,8.23,360,MO,,294.15,294.15,Clear,clear sky

# Read weather grid further from stations

In [76]:
#set grid 
latmax, lonmax= 31.266224, 122.238532  #shanghai
latmin, lonmin=  19.258517, 104.907299  #vietnam
nblats, nblons=5,5
steplat=(latmax-latmin)/nblats
steplon=(lonmax-lonmin)/nblons

dfgrid = pd.DataFrame([{'lat':latmin+i*steplat, 'lon':lonmin+j*steplon} for i in range(nblats) for j in range(nblons)])

In [77]:
import time

for i,s in dfgrid.iterrows():
    #print(s)
    time.sleep(1)  # limitation 60 requests per minute : cf https://openweathermap.org/price
    urlbase[1],urlbase[3]=str(s.lat),str(s.lon)
    url= ''.join(urlbase)
    rs = rqs.get(url)
    ds = json.loads(rs.text)
    
    if useOneCall:
        dico = dico_from_onecall(ds)
    else:
        dico = dico_from_weather(ds)
    dico['station_uid']=0
    
    #print(dico)
    df=df.append(dico, ignore_index=True) 

df

,station_uid,lon,lat,dt,sunrise,sunset,temp,feels_like,pressure,humidity,...,wind_speed,wind_deg,country,rain,temp_max,temp_min,weather,weather_desc,grnd_level,sea_level
0,9888,113.5817,22.1321,1614666409,1614638776,1614680988,294.52,289.78,1018,60,...,8.23,360,MO,,295.15,294.15,Clear,clear sky,NaN,NaN
1,785,113.5740,22.2611,1614666410,1614638783,1614680985,295.01,290.43,1018,60,...,8.23,360,CN,,295.93,294.15,Clear,clear sky,NaN,NaN
2,9052,113.5544,22.1253,1614666410,1614638783,1614680994,294.15,289.30,1018,60,...,8.23,360,MO,,294.15,294.15,Clear,clear sky,NaN,NaN
3,1540,113.5767,22.2707,1614666410,1614638782,1614680984,295.01,290.43,1018,60,...,8.23,360,CN,,295.93,294.15,Clear,clear sky,NaN,NaN
4,5373,113.5650,22.1600,1614666410,1614638781,1614680991,294.53,289.80,1018,60,...,8.23,360,MO,,295.15,294.15,Clear,clear sky,NaN,NaN
5,786,113.4950,22.2294,1614666410,1614638801,1614681005,294.95,290.35,1018,60,...,8.23,360,MO,,295.93,294.15,Clear,clear sky,NaN,NaN
6,5372,113.5447,22.1958,1614666410,1614638787,1614680994,294.15,289.30,1018,60,...,8.23,360,MO,,294.15,294.15,Clear,clear sky,NaN,NaN
7,5374,113.5428,22.2139,1614666410,1614638789,1614680994,294.57,289.85,1018,60,...,8.23,360,MO,,295.15,294.15,Clear,clear sky,NaN,NaN
8,5375,113.5546,22.1581,1614666410,1614638784,1614680993,294.15,289.30,1018,60,...,8.23,360,MO,,294.15,294.15,Clear,clear sky,NaN,NaN
9,0,104.9073,19.2585,1614666434,1614640761,1614683166,289.61,290.33,1017,92,...,1.36,129,VN,,289.61,289.61,Clouds,overcast clouds,935.0,1017.0
10,0,108.3735,19.2585,1614666435,1614639929,1614682334,292.51,288.01,1017,90,...,10.23,28,CN,,292.51,292.51,Clouds,overcast clouds,1017.0,1017.0
11,0,111.8398,19.2585,1614666436,1614639098,1614681502,294.90,291.66,1017,87,...,9.56,41,CN,,294.90,294.90,Clouds,broken clouds,1017.0,1017.0
12,0,115.3060,19.2585,1614666438,1614638267,1614680670,297.51,296.08,1016,83,...,8.22,33,,,297.51,297.51,Clouds,few clouds,1016.0,1016.0
13,0,118.7723,19.2585,1614666516,1614637435,1614679838,298.28,296.04,1014,79,...,9.34,26,,,298.28,298.28,Clouds,few clouds,1014.0,1014.0
14,0,104.9073,21.6601,1614666517,1614640841,1614683086,293.53,292.45,1018,52,...,1.68,88,VN,,293.53,293.53,Clouds,overcast clouds,1012.0,1018.0
15,0,108.3735,21.6601,1614666656,1614640010,1614682254,295.30,290.72,1017,46,...,6.60,23,CN,,295.30,295.30,Clouds,few clouds,1016.0,1017.0
16,0,111.8398,21.6601,1614666519,1614639178,1614681422,295.92,294.16,1018,58,...,4.36,41,CN,,295.92,295.92,Clouds,few clouds,1018.0,1018.0
17,0,115.3060,21.6601,1614666520,1614638347,1614680590,293.65,288.72,1018,78,...,10.18,49,CN,,293.65,293.65,Clear,clear sky,1018.0,1018.0
18,0,118.7723,21.6601,1614666659,1614637515,1614679758,293.86,288.49,1017,88,...,12.07,23,,,293.86,293.86,Clouds,overcast clouds,1017.0,1017.0
19,0,104.9073,24.0616,1614666661,1614640923,1614683004,289.21,287.30,1016,60,...,2.16,165,CN,,289.21,289.21,Clouds,overcast clouds,866.0,1016.0
20,0,108.3735,24.0616,1614666662,1614640092,1614682172,291.93,288.82,1019,46,...,3.42,58,CN,,291.93,291.93,Clear,clear sky,1000.0,1019.0
21,0,111.8398,24.0616,1614666663,1614639261,1614681339,293.38,291.93,1019,44,...,1.26,3,CN,,293.38,293.38,Clear,clear sky,980.0,1019.0
22,0,115.3060,24.0616,1614666664,1614638429,1614680507,292.40,289.89,1019,53,...,3.43,350,CN,,292.40,292.40,Clear,clear sky,977.0,1019.0
23,0,118.7723,24.0616,1614666665,1614637598,1614679675,287.48,276.12,1019,82,...,16.82,40,CN,,287.48,287.48,Clouds,few clouds,1019.0,1019.0
24,0,104.9073,26.4631,1614666666,1614641009,1614682919,279.08,275.37,1016,75,...,2.87,138,CN,,279.08,279.08,Clouds,overcast clouds,806.0,1016.0
25,0,108.3735,26.4631,1614666667,1614640177,1614682086,281.37,278.95,1022,70,...,1.33,54,CN,,281.37,281.37,Clouds,overcast clouds,933.0,1022.0
26,0,111.8398,26.4631,1614666530,1614639346,1614681254,286.37,282.54,1024,58,...,3.91,28,CN,,286.37,286.37,Clouds,scattered clouds,1007.0,1024.0
27,0,115.3060,26.4631,1614666670,1614638515,1614680422,286.88,283.04,1023,63,...,4.43,360,CN,,286.88,286.88,Clouds,overcast clouds,1002.0,1023.0
28,0,118.7723,26.4631,1614666533,1614637683,1614679590,286.67,286.16,1023,77,...,0.63,150,CN,,286.67,286.67,Clouds,overcast clouds,1000.0,1023.0
29,0,104.9073,28.8647,1614666534,1614641097,1614682830,290.85,287.25,1022,31,...,2.38,82,CN,,290.85,290.85,Clouds,broken clouds,972.0,1022.0
30,0,108.3735,28.8647,1614666535,1614640266,1614681998,283.14,280.61,1023,66,...,1.71,142,CN,,283.14,283.14,Clouds,overcast clouds,943.0,1023.0
31,0,111.8398,28.8647,1614666536,1614639435,1614681166,286.29,282.37,1026,55,...,3.80,35,CN,,286.29,286.29,Clouds,broken clouds,1021.0,1026.0
32,0,115.3060,28.8647,1614666675,1614638603,1614680333,284.67,281.53,1025,65,...,2.93,43,CN,,284.67,284.67,Clouds,broken clouds,992.0,1025.0
33,0,118.7723,28.8647,1614666677,1614637772,1614679501,286.09,281.80,1025,61,...,4.69,58,CN,,286.09,286.09,Clouds,few clouds,1016.0,1025.0

# save in csv

In [80]:
fn='scraped_ow_data' +  ("_weather" if useOneCall==False else "_onecall" ) + '.csv'
df.to_csv(fn, mode='a', header=False,index=False)  # record each url one after the other ...